# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ITS-22-24\cinema_lab\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
